<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="SGT_Transport.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="C1ApplicationTheme" value="(none)" />
    <add key="C1ApplicationThemeSettings" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v13.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
      <provider invariantName="System.Data.SQLite.EF6" type="System.Data.SQLite.EF6.SQLiteProviderServices, System.Data.SQLite.EF6" />
    </providers>
  </entityFramework>
  <system.data>
    <DbProviderFactories>
      <remove invariant="FirebirdSql.Data.FirebirdClient" />
      <add name="FirebirdClient Data Provider" invariant="FirebirdSql.Data.FirebirdClient" description=".NET Framework Data Provider for Firebird" type="FirebirdSql.Data.FirebirdClient.FirebirdClientFactory, FirebirdSql.Data.FirebirdClient" />
      <remove invariant="System.Data.SQLite.EF6" />
      <add name="SQLite Data Provider (Entity Framework 6)" invariant="System.Data.SQLite.EF6" description=".NET Framework Data Provider for SQLite (Entity Framework 6)" type="System.Data.SQLite.EF6.SQLiteProviderFactory, System.Data.SQLite.EF6" />
      <remove invariant="System.Data.SQLite" />
      <add name="SQLite Data Provider" invariant="System.Data.SQLite" description=".NET Framework Data Provider for SQLite" type="System.Data.SQLite.SQLiteFactory, System.Data.SQLite" />
    </DbProviderFactories>
  </system.data>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" />
        <binding name="wsTimbradoSoap" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" />
        <binding name="soapHttpEndpoint" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" />
        <binding name="ServiceSoap" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" />
        <binding name="wsAutenticacionSoap" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" />
        <binding name="wsAutenticacionSoap1">
          <security mode="Transport" />
        </binding>
        <binding name="wsAutenticacionSoap2" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" />
        <binding name="wsTimbradoSoap1" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647">
          <security mode="Transport" />
        </binding>
        <binding name="wsTimbradoSoap2" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" />
        <binding name="wsCancelacionSoap" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" />
        <binding name="wsCancelacionSoap1" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647">
          <security mode="Transport" />
        </binding>
        <binding name="wsCancelacionSoap2" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" />
        <binding name="AceptacionRechazoSoap" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" />
        <binding name="BasicHttpBinding_IConsultaCFDIService">
          <security mode="Transport" />
        </binding>
      </basicHttpBinding>
      <customBinding>
        <binding name="service_api_n1PortBinding">
          <transactionFlow transactionProtocol="WSAtomicTransactionOctober2004" />
          <textMessageEncoding messageVersion="Soap11" />
          <httpTransport />
        </binding>
      </customBinding>
    </bindings>
    <client>
      <endpoint address="http://enlacefreightliner.com:8080/integracion/service_api_n1" binding="customBinding" bindingConfiguration="service_api_n1PortBinding" contract="ServiceReferenceMontellano.service_api_n1" name="service_api_n1Port" />
      <endpoint address="http://testtimbrado.digibox.com.mx/Timbrado/wsTimbrado.asmx" binding="basicHttpBinding" bindingConfiguration="wsTimbradoSoap" contract="WSDIGIBOX.wsTimbradoSoap" name="wsTimbradoSoap" />
      <endpoint address="http://generacfdi.com.mx/rvltimbrado/service1.asmx" binding="basicHttpBinding" bindingConfiguration="ServiceSoap" contract="WSRV.ServiceSoap" name="ServiceSoap" />
      <endpoint address="http://app.foliosdigitalespac.com/WSTimbrado33Test/WSCFDI33.svc" binding="basicHttpBinding" bindingConfiguration="soapHttpEndpoint" contract="WSFD.IWSCFDI33" name="soapHttpEndpoint" />
      <endpoint address="http://testtimbrado.digibox.com.mx/Autenticacion/wsAutenticacion.asmx" binding="basicHttpBinding" bindingConfiguration="wsAutenticacionSoap" contract="WSDIGIBOX_AUTENTICATION.wsAutenticacionSoap" name="wsAutenticacionSoap" />
      <endpoint address="https://timbrado.digibox.com.mx/Autenticacion/wsAutenticacion.asmx" binding="basicHttpBinding" bindingConfiguration="wsAutenticacionSoap1" contract="DIGIBOX_AUTENTICACION.wsAutenticacionSoap" name="wsAutenticacionSoap1" />
      <endpoint address="https://timbrado.digibox.com.mx/Timbrado/wsTimbrado.asmx" binding="basicHttpBinding" bindingConfiguration="wsTimbradoSoap1" contract="DIGIBOX_TIMBRADO.wsTimbradoSoap" name="wsTimbradoSoap1" />
      <endpoint address="https://timbrado.digibox.com.mx/Cancelacion/wsCancelacion.asmx" binding="basicHttpBinding" bindingConfiguration="wsCancelacionSoap1" contract="WSDIGIBOX_CANCEL_2022.wsCancelacionSoap" name="wsCancelacionSoap1" />
      <endpoint address="http://digibox2t.cloudapp.net/Cancelacion/wsCancelacion.asmx" binding="basicHttpBinding" bindingConfiguration="wsCancelacionSoap" contract="WSDIGIBOX_CANCEL_DEMO.wsCancelacionSoap" name="wsCancelacionSoap" />
      <endpoint address="http://digibox2t.cloudapp.net/ServiciosCancelacion/AceptacionRechazo.asmx" binding="basicHttpBinding" bindingConfiguration="AceptacionRechazoSoap" contract="CANCELACION_ACEPTACION_RECHAZO_PRUEBAS.AceptacionRechazoSoap" name="AceptacionRechazoSoap" />
      <endpoint address="https://consultaqr.facturaelectronica.sat.gob.mx/ConsultaCFDIService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IConsultaCFDIService" contract="CONSULTA_CFDI_SAT.IConsultaCFDIService" name="BasicHttpBinding_IConsultaCFDIService" />
    </client>
  </system.serviceModel>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Data.SQLite" publicKeyToken="db937bc2d44ff139" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.111.0" newVersion="1.0.111.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Text.Json" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.1" newVersion="5.0.0.1" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <userSettings>
    <SGT_Transport.My.MySettings>
      <setting name="rutaXMLST" serializeAs="String">
        <value />
      </setting>
      <setting name="rutaXML" serializeAs="String">
        <value />
      </setting>
      <setting name="usuarioFD" serializeAs="String">
        <value />
      </setting>
      <setting name="contrasenaFD" serializeAs="String">
        <value />
      </setting>
      <setting name="folio" serializeAs="String">
        <value />
      </setting>
      <setting name="rutaCertificado" serializeAs="String">
        <value />
      </setting>
      <setting name="rutaPFX" serializeAs="String">
        <value />
      </setting>
      <setting name="contrasenaPFX" serializeAs="String">
        <value />
      </setting>
      <setting name="emisorRFC" serializeAs="String">
        <value />
      </setting>
      <setting name="emisorRazonSocial" serializeAs="String">
        <value />
      </setting>
      <setting name="emisorRegimenFiscal" serializeAs="String">
        <value />
      </setting>
      <setting name="emisorLugarExpedicion" serializeAs="String">
        <value />
      </setting>
      <setting name="Host" serializeAs="String">
        <value />
      </setting>
      <setting name="Database" serializeAs="String">
        <value />
      </setting>
      <setting name="DBUser" serializeAs="String">
        <value />
      </setting>
      <setting name="DBPassword" serializeAs="String">
        <value />
      </setting>
    </SGT_Transport.My.MySettings>
  </userSettings>
  <connectionStrings>
    <add name="GLLANTA" connectionString="data source=GUST\MSSQL19;initial catalog=MONTE701;persist security info=True;user id=sa;password=1234;multipleactiveresultsets=True;application name=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="MONTE701Entities" connectionString="metadata=res://*/ADOLLANTAS.csdl|res://*/ADOLLANTAS.ssdl|res://*/ADOLLANTAS.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=GUST\MSSQL19;initial catalog=MONTE701;persist security info=True;user id=sa;password=1234;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="CEREZOEntities1" connectionString="metadata=res://*/LLANTA.csdl|res://*/LLANTA.ssdl|res://*/LLANTA.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=GUST\MSSQL19;initial catalog=MONTE701;persist security info=True;user id=sa;password=1234;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>