<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Antlr" version="3.5.0.2" targetFramework="net45" />
  <package id="C1.DataCollection" version="1.0.20231.129" targetFramework="net472" />
  <package id="C1.DataCollection.BindingList" version="1.0.20231.129" targetFramework="net472" />
  <package id="EntityFramework" version="6.2.0" targetFramework="net45" />
  <package id="ExcelDataReader" version="3.6.0" targetFramework="net472" />
  <package id="ExcelDataReader.DataSet" version="3.6.0" targetFramework="net472" />
  <package id="GMap.NET.Windows" version="1.9.3" targetFramework="net45" />
  <package id="Microsoft.Bcl.AsyncInterfaces" version="5.0.0" targetFramework="net472" />
  <package id="NCalc-Edge" version="1.5.0" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="12.0.1" targetFramework="net472" />
  <package id="OzCode.VisualStudioExtensionAnalyzers" version="1.6.6344.22888" targetFramework="net45" developmentDependency="true" />
  <package id="RestSharp" version="108.0.3" targetFramework="net472" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net472" />
  <package id="System.Data.SQLite" version="1.0.111.0" targetFramework="net45" />
  <package id="System.Data.SQLite.Core" version="1.0.111.0" targetFramework="net45" />
  <package id="System.Data.SQLite.EF6" version="1.0.111.0" targetFramework="net45" />
  <package id="System.Data.SQLite.Linq" version="1.0.111.0" targetFramework="net45" />
  <package id="System.Linq.Parallel" version="4.3.0" targetFramework="net472" />
  <package id="System.Memory" version="4.5.4" targetFramework="net472" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net472" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="5.0.0" targetFramework="net472" />
  <package id="System.Text.Encodings.Web" version="5.0.0" targetFramework="net472" />
  <package id="System.Text.Json" version="5.0.1" targetFramework="net472" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.4" targetFramework="net472" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net472" />
</packages>